body {
    background: #404040;
    ;
}
header {
    font-family: "Sonsie One", Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 30px;
    margin-left: 100px;
    color: white;
    position: relative;
}

main {
    position: relative;
    margin-top: 50px;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 20px;
    grid-gap: 5px;
}

img {
    border-radius: 10px;
    grid-row: span 1;
    grid-column: span 2;
    height: 90px;
    width: 175px;
}

@media only screen and (min-width:600px) {
    main {
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    
}

@media only screen and (min-width:900px) {
    main {
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    img {
        height: 130px;
        width: 250px;
    }
}