body {
    background-color: #3a121e;
    color: white;
    margin: 22px;
}
main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100%;
    grid-gap: 5px;
}
.box {
    grid-row: span 1;
    grid-column: span 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}
img {
    object-fit: cover;
    object-position: center;
}
.be {
    padding: 15px;
    padding-top: 80px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.5;
}
.login {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    margin: 5px;
}
.one {
    background-color: red;
    font-size: 34px;
    height: 270px;
    width: 150px;
}
.two {
    background-color: turquoise;
    height: 267px;
    width: 210px;
    padding-bottom: 3px;
}
.filler {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    padding: 15px;
    line-height: 1.5;
}
.three {
    grid-row: span 1;
    grid-column: span 2;
    overflow: hidden;
    width: 368px;
    height: 170px;
}
.four {
    overflow: hidden;
    height: 270px;
    width: 150px;
    position: relative;

}
.five {
    background-color: turquoise;
    height: 267px;
    width: 210px;
    padding-bottom: 3px;
    position: relative;
    bottom: 100px;
}
.six {
    grid-row: span 1;
    grid-column: span 2;
    overflow: hidden;
    width: 368px;
    height: 170px;
    position: relative;
    bottom: 100px;
}
.seven {
    overflow: hidden;
    height: 270px;
    width: 150px;
    position: relative;
    bottom: 200px;
}
.eight {
    background-color: turquoise;
    height: 267px;
    width: 210px;
    padding-bottom: 3px;
    position: relative;
    bottom: 200px;
}
.nine {
    grid-row: span 1;
    grid-column: span 2;
    overflow: hidden;
    width: 368px;
    height: 170px;
    position: relative;
    bottom: 200px;
}
.ten {
    grid-row: span 1;
    grid-column: span 2;
    overflow: hidden;
    width: 368px;
    height: 170px;
    margin:0;
    position: relative;
    bottom: 300px;
}
@media only screen and (min-width:600px) {
    main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: 100%;
        grid-gap: 5px;
    }
    .one {
        height: 170px;
        width: 280px;
    }
    .be {
        padding: 40px;
        padding-top: 65px;
    }
    .two {
        grid-row: span 2;
        grid-column: span 1;
        width: 270px;
    }
    .three {
        grid-row: span 2;
        grid-column: span 2;
        overflow: visible;
    }
    .tie {
        height: 270px;
        width: 570px;
    }
    .four {
        position: relative;
        left: 10px;
        grid-row: span 2;
        grid-column: span 1;
        height: 270px;
        width: 270px;
    }
    .sign {
        height: 270px;
        width: 270px;
    }
    .five {
        grid-row: span 2;
        grid-column: span 1;
        width: 280px;
        position: relative;
        bottom: 100px;
    }
    .six {
        grid-row: span 2;
        grid-column: span 2;
        overflow: visible;
        height: 1fr;
        width: 1fr;
        position: relative;
        bottom: 273px;
    }
    .moped {
        overflow: visible;
        height: 400px;
        width: 150%;
    }
    .seven {
        grid-row: span 1;
        grid-column: span 1;
        height: 195px;
        width: 290px;
        position: relative;
        bottom: 68px;
        left: 10px;
    }
    .flower {
        height: 1fr;
        width: 1fr;
    }
    .eight {
        position: relative;
        bottom: 270px;
        left: 10px;
        width: 270px;
    }
    .nine {
        position: relative;
        bottom: 373px;
        right: 832px;
        width: 280px;
        height: 225px;
    }
    .ten {
        position: relative;
        bottom: 825px;
        left: 842px;
        width: 290px;
        height: 205px;
    }
}